.card{
    margin: 10px 5px 10px 5px;
}


#cardContainer{
    display: flex;
    margin-top: 45px;

}

#page{
background-color: orange;
min-height: 100vh;
}
button  {
    background-color: white;
}

.btn {
    color:blue;
    background-color: white;
    margin-left: 5px;
}