// .row {
//     margin-top: 25px;
// }

// #MHS{
//     height: 500px;
// width: 100%;
// // margin:
// }


#MHS{
    background-image: url("./families.png");
    background-size: cover;
    background-Repeat: no-repeat;
     background-Position: center;
     height: 630px;
     width: auto;
     background-color: orange;
}

#cards{
    margin-top: 175px;
    background-color: orange;
    
}

// h1{
//     color: white;
//     text-shadow: 2x 2x black;
// }
// h2{
//     color: white;
//     text-shadow: 2x 2x black;
// }

.home h1{
    color: white;
    text-shadow: 2px 2px black;
} h2{
    color: white;
    text-shadow: 2px 2px black; 
}







// a {
//     text-decoration: none;
//     cursor: pointer;

//     p{
//         color: black;
//     }
// // }
// .home{
//     background-image: url("./bigfamily.jpg");
//     background-size: cover;
//     background-Repeat: no-repeat;
//     background-Position: center;
//     height: 500px;
//     width: auto;
// }

.welcome{
    height: 500px;
    padding: 0%;
    padding-top: 100px;
    background-size: cover;
    background-position: center;
    text-align: center;
   
//     p{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }

// }
// .col text-center {
//     justify-content: center;
// }
// .container text-center{
//     margin: -145px;
// }

// .Homepage{
//     background-color: black
// }

// .container {
//     background-color: blue;
// }

// .Homepage{
//     background-color: blue; }

}

#MentalHS{
    color: black;
}