.row {
    margin-top: 25px;
}

a {
    text-decoration: none;
    cursor: pointer;

    p{
        color: black;
    }
}

// .welcome{
//     height: 300px;
//     background-image: url("./unsplash.jpg");
//     background-size: cover;
//     background-position: center;
//     text-align: center;
   
//     p{
//         display: flex;
//         justify-content: center;
//         align-items: center;
        
//     }

// }

.Homepage{
    background-color: black
}