// #MHS{
//     background-image: url("./bigfamily.jpg");
//     background-size: cover;
//     background-Repeat: no-repeat;
//      background-Position: center;
//      height: 700px;
//      width: auto;
// }

.bg-light{
    background-color: transparent !important;
}

.navbar .btn{
    background-color: blue;
    color: white;
    text-shadow: orange;
    margin-right: 10px;
}
#navtext{
    outline-color: white;
}

a.nav-link{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: white;
}




a {
    text-decoration: none;
    cursor: pointer;

    p{
        color: black;
    }
}


// .welcome{
//     height: 300px;
//     background-image: url("./");
//     background-size: cover;
//     background-position: center;
//     text-align: center;


   
    p{
        display: flex;
        justify-content: center;
        align-items: center;
    }

// }
.col text-center {
    justify-content: center;
}
.container text-center{
    margin: -145px;
}

h2{
    color: white;
}

h1{
    color: white;
}
